body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
}

form input,
form button {
  display: block;
  max-width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  background-color: #28a745;
  margin: 0px 5px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f8f9fa;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

p {
  color: #666;
}

p.error {
  color: red;
  font-weight: bold;
}
